body{background: #f1f1f1}

.fc-total-booking{
    font-size: 11px;
    color: #1c0bef;
    position: absolute;
    right: 0;
    margin: -2px 3px;
}

.fc-calendar .fc-row > div.cell-time.reserved {
    background: #ccc;
}

.fc-calendar .fc-row > div.cell-time.past-time > .fc-date {
    color:#ffdcdc;
}

.fc-calendar .fc-row > div.cell-time.past-time {
    background: #ccc !important;
    cursor: default;
}

.step-2, .step-3, .step-4{
    display: none;
}

select.form-control {
    height: 38px;
    font-size: 15px;
    margin: 18px 0;
}

.fc-calendar .fc-row > div.cell-time{
    float: left;
    height: 100%;
    width: -moz-calc(100%/4);
    width: -webkit-calc(100%/4);
    width: calc(100%/4);
    position: relative;
}

.fc-calendar-container.time-calendar{
    height: auto;
}

.fc-calendar-container.time-calendar .fc-row{
    height: 32px;
}

.fc-calendar-container.time-calendar .fc-body{
    height: auto;
}

.fc-calendar .fc-row > div.cell-time > span.fc-date{
    margin: -10px 0 0 -25px;
}

.fc-calendar .fc-row  .selected-day, .fc-calendar .fc-row > div.fc-today.selected-day{
    background: #eee35e !important;
}

.fc-calendar .fc-row > div.selected-day > span.fc-date {
    color: #fff;
    text-shadow: 0 1px 1px rgba(0,0,0,0.1);
}



/****************************************************/

.cell-day.past-date{
    background: transparent !important;
    color: #0f6ab8 !important;
}

.cell-day.past-date .fc-date {
    color: rgb(169, 169, 169) !important;
}



.loading img{
    position: inherit;
    width: 140px;
    top: 30%
}

/* Absolute Center Spinner */
.loading {
    display: none;
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: visible;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

/* Transparent Overlay */
.loading:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
    /* hide "loading..." text */
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}


/* Animation */

@-webkit-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-moz-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-o-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.alert-calendar{
    background: red;
    color: white;
    z-index: 99999;
    font-size: 20px;
    text-align: center;
    width: 100%;
    position: absolute;
    margin: 10px 0;
    padding: 5px 5px;
    top: -54px;
    display: none;
}

input.form-control, textarea.form-control, select.form-control {
    border-radius: 0px;
    margin: 9px 0;
    border: 1px solid #7e8993;
    direction: rtl;
}