/*html, body {
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
  font-family: 'Assistant', sans-serif;
  font-weight: 400;
  direction: rtl;
  unicode-bidi: embed;
  font-size: 20px;
  background: #000;
}*/

.clearfix {
  width: 100%;
  display: table;
}

.wrapper-quest h1 {
  text-align: center;
  margin: 0;
  padding: 0;
  color: #fff;
  line-height: 1em;
  font-size: 68px;
  font-weight: 700;
}

.wrapper-quest h2 {
  font-size: 48px;
  line-height: 1em;
  margin-top: 24px;
  margin-bottom: 24px;
}

.wrapper-quest h3 {
  text-align: center;
  color: #fff;
  font-weight: normal;
}

.wrapper-quest h4 {
  text-align: center;
  display: block;
  width: 100%;
  font-size: 48px;
  margin-top: 24px;
  margin-bottom: 24px;
  line-height: 1em;
  color: #000;
  font-weight: 400;
}

.wrapper-quest p {
  direction: rtl;
}

.wrapper-quest ul {
  color: red;
}

.wrapper-quest li > span {
  color: white;
}

.wrapper-quest a {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  width: 260px;
}

.wrapper-quest form {
  direction: rtl;
}

.wrapper-quest input[type=text],
.wrapper-quest input[type=email],
.wrapper-quest input[type=tel] {
  height: 50px;
  -webkit-appearance: none;
  box-shadow: none;
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 30px;
  width: calc(100% - 15px);
  padding-right: 15px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border: 1px solid #000;
}

.wrapper-quest .hide {
  display: none !important;
}

.wrapper-quest .show {
  animation: widget-quest-show ease-in-out 0.7s;
  display: block ;
}

.wrapper-quest {

}

#wrapper-quest__buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  height: 100%;
}

.wrapper-quest__button {
  display: block;
  text-align: center;
  text-decoration: none;
  width: 30%;
  background-color: #eee35e;
  color: #860000;
  font-size: 24px;
  font-weight: 700;
  line-height: 50px;
  cursor: pointer;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  margin-top: 10px;
  margin-bottom: 5px;
  background-repeat: no-repeat;
  background-position: center;
}

.wrapper-quest__button:hover {
  background-color: #d70303;
  color: #fff;
}


#wrapper-quest__container {
  display: none;
  height: 100%;
  width: 100%;
}

/*.wrapper-quest__background {
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=35);
  position: absolute;
  -moz-opacity: 0.35;
  -khtml-opacity: 0.35;
  opacity: 0.35;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
}*/

.wrapper-quest__background {
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=35);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;
}

.wrapper-quest__thanks-left, .wrapper-quest__thanks-right {
  width: 0;
  font-size: 24px;
  font-family: 'assistantlight';
}

.wrapper-quest__modal {
  height: 95%;
  margin-top: 40px;
  min-height: 500px;
  width: 1095px;
  position: fixed;
  z-index: 9999;
  top: 1%;
  /*top: calc(50% - 310px);*/
  left: calc(50% - 548px);
  color: #fff;
  overflow-y: visible;
  overflow-x: hidden;
  display: none;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}

#wrapper-quest__close {
  width: 70px;
  height: 29px;
  background-image: url('/wp-content/uploads/2019/06/add-review-popup-close2.png');
  background-repeat: no-repeat;
  position: fixed;
  left: calc(50% - 549px);
  top: 7px;
  z-index: 999;
  cursor: pointer;

}
#wrapper-quest__close:hover{
	background-image: url('/wp-content/uploads/2019/06/add-review-popup-close-hover.png');
}

.wrapper-quest__content {
  width: 700px;
  float: left;
  position: relative;
  margin-top: 18px;
  padding-left: 6px;
}

.wrapper-quest__whiteline {
  background: rgba(255, 255, 255, 0.7);
  width: 100%;
  height: 60px;
  position: relative;
}

.wrapper-quest__whiteline_header-left {
  background: rgba(135, 183, 234, 0.7);
  -webkit-clip-path: polygon(0 0, 100% 0, 79% 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 79% 100%, 0% 100%);
  position: absolute;
  top: -18px;
  left: -6px;
  padding-left: 32px;
  padding-right: 80px;
  font-weight: 300;
  text-align: center;
  padding-top: 5px;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrapper-quest__whiteline_header-left > .header {
  color: rgb(56, 58, 58);
}

.wrapper-quest__whiteline_header-left > .time {
  font-size: 34px;
  font-weight: 800;
  line-height: 26px;
  padding-bottom: 12px;
  color: #eee35e;
}

.wrapper-quest__whiteline_bottom {
  background: rgba(255, 255, 255, 0.7);
  width: auto;
  height: 60px;
  margin-top: 24px;
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 300;
  padding-right: 275px;
}

.wrapper-quest__whiteline_bottom > div {
  margin-left: 14px;
  margin-right: 35px;
  line-height: 1em;
  text-align: center;
  color: rgb(56, 58, 58);
  white-space: nowrap;
}

.wrapper-quest__whiteline_bottom img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 30px;
  width: auto;
  margin-bottom: 5px;
}


.wrapper-quest__whiteline_header-right {
  width: 180px;
  height: 32px;
  background: rgba(135, 183, 234, 0.7);
  color: rgb(56, 58, 58);
  -webkit-clip-path: polygon(20% 0%, 100% 0, 100% 100%, 0% 100%);
  clip-path: polygon(20% 0%, 100% 0, 100% 100%, 0% 100%);
  padding: 20px 35px 20px 60px;
  line-height: 1em;
  display: flex;
  position: relative;
  margin-top: -54px;
  margin-right: -6px;
  font-size: 18px;
}

.wrapper-quest__whiteline_header-right span {
  color: #eee35e;
}

.wrapper-quest__center {
  font-size: 48px;
  font-weight: 800;
  color: #eee35e;
  line-height: 36px;
  padding-left: 5px;
  padding-right: 2px;
}

.wrapper-quest__other-quest {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-top: 32px;
    margin-bottom: 70px;
    float: left;
    max-width: 66%;
    min-width: 500px;
}
@media (max-width: 1024px) {
.wrapper-quest__other-quest {
    max-width: 100%;
}
}

.wrapper-quest__item {
  margin-top: 0px;
  background: rgba(255, 255, 255, 0.95);
  padding: 2px;
  width: 22%;
  position: relative;
  margin-bottom: 70px;
	margin-right: 16px;

}

.wrapper-quest-other-quest__img {
  border-bottom: 2px solid #2a3c46;
  padding-bottom: 2px;
}

.wrapper-quest-other-quest__img img {
  width: 100%;
  height: auto;
  display: block;
}

.wrapper-quest-other-quest__title {
  color: #9c8c78;
  padding: 10px 8px 24px 8px;
  font-size: 24px;
  font-weight: 700;
  height: 40px;
  line-height: 1em;
}

.wrapper-quest-other-quest__button {
  background: rgba(42, 60, 70, 0.7);
  padding-top: 20px;
  padding-bottom: 8px;
  width: 144px;
  text-align: center;
  position: absolute;
  bottom: -48px;
  left: 50%;
  margin-left: -72px;
}

.wrapper-quest-other-quest__button a {
  display: initial;
  text-align: center;
  text-decoration: none;
  background-color: #eee35e;
  color: #860000;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  background-repeat: no-repeat;
  background-position: center;
  padding: 5px 20px;
  border: 1px solid #fff;
}

.wrapper-quest-other-quest__button a:hover {
  color: #fff;
  background-color: #d70303;
}

/************/
/* Widget 1 */
/************/

.wrapper-quest__widget {
  display: none;
  direction: rtl;
  z-index: 1;
  width: 360px;
  margin-top: 18px;
  box-sizing: border-box;
}

.wrapper-quest__widget_button {
  display: block;
  text-align: center;
  text-decoration: none;
  width: 100%;
  background-color: #eee35e;
  color: #860000;
  font-size: 24px;
  font-weight: 700;
  line-height: 50px;
  cursor: pointer;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  margin-top: 10px;
  margin-bottom: 5px;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  top: 89%;
}

.wrapper-quest__widget_button:hover {
  background-color: #d70303;
  color: #fff;
}

/************/
/* Widget 2 */
/************/

.wrapper-quest__form {
  margin-top: 0;
}

.wrapper-quest__datetime {
  height: 60px;
  background-color: #b5b5b5;
  -webkit-clip-path: polygon(86% 0, 100% 0, 100% 100%, 0 100%, 0 63%, 81% 63%);
  clip-path: polygon(86% 0, 100% 0, 100% 100%, 0 100%, 0 63%, 81% 63%);
  margin-bottom: 32px;
}

.wrapper-quest__datetime_block {
  -webkit-clip-path: polygon(0 0, 100% 0, 94.5% 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 94.5% 100%, 0% 100%);
 	background-color: #a30f0f;
    width: 230px;
    padding-left: 25px;
    padding-right: 55px;
    height: 37px;
    position: relative;
    margin-top: -99px;
    float: left;
    margin-left: -2px;
    font-size: 16px;
    line-height: 30px;
    padding-top: 5px;
}


.wrapper-quest__strip {
  color: #eee35e;
	margin: 10px;
}

.wrapper-quest__time {
  font-weight: 300;
}

.wrapper-quest__span {
  font-size: 24px;
  font-weight: 300;
  line-height: 46px;
  padding-right: 0;
}

.wrapper-quest select {

  position: inherit;
  width: 164px;
  padding-right: 11px;
  float: left;
  height: 50px;
  -webkit-appearance: none;
  -moz-appearance: none;
  box-shadow: none;
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 30px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border: 1px solid #000;
  background-image: url('../img/arrow-down.png');
  background-position: left center;
  background-repeat: no-repeat;
}

.wrapper-quest__dis_wrapper {
  -webkit-clip-path: polygon(100% 0, 100% 11%, 30% 11%, 19% 100%, 0 100%, 0 0);
  clip-path: polygon(100% 0, 100% 11%, 30% 11%, 19% 100%, 0 100%, 0 0);
  height: 24px;
  background-color: #b3b3b4;
  text-align: left;
  padding-left: 15px;
  padding-top: 12px;
  padding-bottom: 12px;
  color: #000;
  font-size: 24px;
  font-weight: 700;
  /*background-image: url('../img/sh-bg.png');*/
  background-repeat: no-repeat;
  background-position: bottom left;
  line-height: 1em;
  position: inherit;
  margin-top: 25px;
}

.wrapper-quest strong {
  font-weight: 700;
}

.wrapper-quest__dis_block {
  color: #fff;
  background: rgba(215, 4, 4, 0.7);
  height: 32px;
  width: 278px;
  padding-right: 15px;
  font-size: 20px;
  position: relative;
  margin-top: -40px;
  -webkit-clip-path: polygon(13% 0%, 100% 0, 100% 100%, 0% 100%);
  clip-path: polygon(13% 0%, 100% 0, 100% 100%, 0% 100%);
  margin-bottom: 20px;
  padding-top: 8px;
  padding-bottom: 2px;
  margin-right: -4px;
}

.wrapper-quest label {
  background-image: url('../img/checkbox.png');
  background-repeat: no-repeat;
  background-position: center right;
  cursor: default;
  font-size: 16px;
  padding-right: 25px;
}

.wrapper-quest input[type="checkbox"]:checked + label {
  background-image: url('../img/checkbox-active.png');
}

.wrapper-quest input[type="checkbox"] {
  display: none;
  visibility: hidden;
  opacity: 0;
  width: 26px;
  height: 26px;
}

.wrapper-quest__pol_required a {
  color: #eee35e;
}

/***********/
/* Modal 3 */
/***********/

.wrapper-quest__container-relative {
  width: 1095px;
  clear: both;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.wrapper-quest .wrapper-quest__h2 {
  text-align: center;
  background-color: #eee35e;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 24px;
  font-weight: 400;
  color: #000;
  line-height: normal;
}

.wrapper-quest .wrapper-quest__feedback-wrapper {
  background-color: #fff;
  padding: 10px 16px 100px 16px;
  position: relative;
  justify-content: space-between;
  font-size: 24px;
  font-weight: 100;
  margin-top: 20px;
  display: block;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 88%, 48% 88%, 43% 100%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 88%, 48% 88%, 43% 100%, 0 100%);
}

.wrapper-quest__thanks-left {
  width: calc(50% - 61px);
  float: left;
  border-right: 1px solid #c0c0c0;
  padding-left: 30px;
  padding-right: 30px;
}

.wrapper-quest__feedback-wrapper table td {
  padding-top: 0;
  padding-bottom: 20px;
  display: inline-block;
  color: #000;
}

.wrapper-quest__feedback-wrapper table td:first-child {
  color: #c0c0c0;
  width: 110px;
}

.wrapper-quest__thanks-right {
  width: calc(50% - 60px);
  float: right;
  padding-left: 30px;
  padding-right: 30px;
}

.wrapper-quest__feedback-social {
  -webkit-clip-path: polygon(10% 0, 100% 0, 100% 100%, 0% 100%);
  clip-path: polygon(10% 0, 100% 0, 100% 100%, 0% 100%);
  width: 570px;
  height: 60px;
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  right: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  padding-right: 40px;
  bottom: 105px;
}

.wrapper-quest__menu-social {
  display: flex;
  list-style-type: none;
  width: 750px;
  float: right;
  position: static;
  top: 90px;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0 23px 0 0;
  right: 0;
}

.wrapper-quest__menu-social li {
  display: inline-block;
  padding-left: 25px;
}

.wrapper-quest__menu-social li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

.wrapper-quest__menu-social a img {
  border: none;
  box-shadow: none;
  vertical-align: middle;
  width: auto;
  display: inline;
  padding-right: 0;
  padding-left: 10px;
}

.wrapper-quest__button-back {
  background-color: #eee35e;
  color: #860000;
  font-size: 34px;
  font-family: 'assistantbold';
  line-height: 1em;
  font-weight: 700;
  text-decoration: none;
  padding: 12px 48px 13px 0px;
  margin: 60px auto 40px;
  display: block;
  width: 100%;
  text-align: center;
  position: relative;
}

.wrapper-quest__button-back::after {
  content: '';
  width: 90px;
  height: 42px;
  background-image: url(/wp-content/uploads/2019/07/ty.png);
  background-repeat: no-repeat;
  -webkit-background-size: 29px;
  background-size: 40px;
  position: absolute;
  top: auto;
  right: -6px;
  bottom: 7px;
}

/****************/
/* MediaQueries */
/****************/

@media (max-width: 1200px) {
  #wrapper-quest__close {
    left: 5%;
    top: 10px;
  }
}

@media (max-width: 1095px) {
  .wrapper-quest__content, .wrapper-quest__widget {
    width: 100%;
    float: none;
  }

  .wrapper-quest__modal {
    width: 90%;
    height: calc(100% - 50px);
    left: 5%;
    /*top: 50px;*/
  }

  .wrapper-quest__container-relative {
    width: 100%;
  }

  .wrapper-quest__feedback-wrapper {
    display: block;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%, 0 100%);
    padding-bottom: 120px;
    padding-top: 90px;
  }

  .wrapper-quest__feedback-social {
    width: 220px;
  }

  .wrapper-quest__menu-social {
    padding-right: 10px;
    z-index: 1;
    top: 11px;
    left: auto;
    right: 0;
    width: auto;
  }

  .wrapper-quest__menu-social li a span {
    display: none;
  }

  .wrapper-quest__button-back::after {
    right: 0%;
  }
}

@media (max-width: 768px) {
  .wrapper-quest h1 {
    font-size: 48px;
    padding-top: 0;
  }

  .wrapper-quest__background {
    object-fit: cover;
    height: 100%;
  }

  .wrapper-quest__whiteline_header-left > .header {
    font-size: 16px;
  }

  .wrapper-quest__whiteline_header-left > .time {
    font-size: 24px;
    line-height: 26px;
  }

  .wrapper-quest h2 {
    font-size: 32px;
    margin-top: 16px;
    margin-bottom: 16px;
  }

  .wrapper-quest__descripription {
    font-size: 14px;
    line-height: 16px;
  }


  .wrapper-quest__whiteline_bottom {
    padding-right: 200px;
    font-size: 15px;
  }

  .wrapper-quest__whiteline_bottom div {
    white-space: inherit;
  }

  .wrapper-quest__whiteline_bottom img {
    height: 24px;
  }

  .wrapper-quest__whiteline_header-right {
    font-size: 15px;
    width: 140px;
    padding-left: 50px;
  }

  .wrapper-quest__center {
    font-size: 32px;
    line-height: 22px;
  }

  .wrapper-quest-other-quest__button {
    padding-top: 0;
    padding-bottom: 0;
    width: auto;
    background: none !important;
    position: static;
    margin-left: auto;
    margin-right: auto;
  }

  .wrapper-quest__datetime_block {
    width: 66%;
    height: 36px;
    line-height: 36px;
  }

  .wrapper-quest input[type=text],
  .wrapper-quest input[type=email],
  .wrapper-quest input[type=tel] {
    font-size: 18px;
    height: 46px;
    margin-bottom: 20px;
  }

  .wrapper-quest__span {
    font-size: 18px;
  }

  .wrapper-quest__quantity {
    font-size: 22px;
    padding-top: 10px;
    padding-bottom: 9px;
    margin-top: 10px;
  }

  .wrapper-quest__dis_block {
    width: 77.5%;
    font-size: 15px;
  }

  .wrapper-quest__pol_required {
    font-size: 18px;
  }

  .wrapper-quest .wrapper-quest__feedback-wrapper {
    font-size: 20px;
  }

  .wrapper-quest h4 {
    margin-top: 10px;
    font-size: 24px;
  }

  .wrapper-quest__menu-social {
    padding-top: 0;
  }

  .wrapper-quest .wrapper-quest__h2 {
    font-size: 24px;
    margin: 20px auto;
  }
}

@media (max-width: 650px) {
  .wrapper-quest__item {
    width: 45%;
    margin-bottom: 20px;
  }
}

@media (max-width: 600px) {
  .wrapper-quest h1 {
    padding-bottom: 20px;
  }

  .wrapper-quest__whiteline_bottom {
    padding-right: 0;
    justify-content: center;
  }

  .wrapper-quest__whiteline_header-right {
    display: none;
  }

  .wrapper-quest input[type=text],
  .wrapper-quest input[type=email],
  .wrapper-quest input[type=tel] {
    font-size: 22px;
  }

  .wrapper-quest label {
    font-size: 14px;
  }

  .wrapper-quest .wrapper-quest__feedback-wrapper {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%, 0 100%);
    padding-bottom: 0px;
  }

  .wrapper-quest__thanks-left,
  .wrapper-quest__thanks-right {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    border-right: 0;
  }

  .wrapper-quest__feedback-social {
    padding-right: 20px;
    webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    position: static;
    float: none;
    margin-left: auto;
    margin-right: auto;
  }

  .wrapper-quest__menu-social {
    width: 210px;
    position: static;
  }

  .wrapper-quest__menu-social li {
    padding-left: 15px;
  }

  .wrapper-quest__button-back::after {
    right: 10%;
  }
}

/*************/
/* Keyframes */
/*************/

@keyframes widget-quest-show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}







/******************************************************/
/******************************************************/
/******************************************************/
/******************************************************/
.selected-day{
  background: #eee35e !important;
}

.selected-time{
  background: #eee35e !important;
}

.item_content.reserv{
  visibility: hidden;
  position: relative;
  cursor: default;
}

.item_content.reserv:after{
  content: "reserve";
  width: 100%;
  background: #cccccc91;
  color: white;
  font-size: 16px;
  visibility: visible;
  position: absolute;
  top: 0;
  left: 0;
}

.item_content.past-time{
  background: #cccccc91;
  color: white;
  cursor: default;
}

#v-cal{
  color: #000;
}

html {
  font-size: 10px;
}

/*body {
  color: #333;
  font-size: 1.6rem;
  background-color: #FAFAFA;
  -webkit-font-smoothing: antialiased;
}*/

footer {
  text-align: center;

}

.demo-picked {
  font-size: 1.2rem;
  text-align: center;
}

.demo-picked span {
  font-weight: bold;
}

.time-table {
  width: 100%;
  padding: 0;
  font-size: 0;
  height: auto;
  border-top: 1px solid;
}

.item {
  display: inline-block;
  margin: 3px 0;
	    direction: ltr;
}

.item_content {
  display: inline-block;
  background: #fff;
  font-size: 16px;
  color: #000;
  line-height: 25px;
  text-align: center;
  min-width: 59px;
  min-height: 25px;
  margin-right: 1px;
  margin-bottom: 1px;
  padding: 0;
  cursor: pointer;
}

#button-step-1{
  display: none;
}

body.overlay:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, .7);
  z-index: 100;
  overflow: hidden;
}

body.overlay {
  position: fixed;
  overflow: hidden;
}

div.mobile-menu{
  z-index: 99;
}